<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="{{ url_for('confirmation')}}" method="POST">

      <h1>Contact Form</h1><br><br>

      <label>Name: </label><br><br>
      <input type="text" name="name" required placeholder="Name"><br><br>

      <label>Email: </label><br><br>
      <input type="email" name="email" required placeholder="Email"><br><br>

      <label>Phone Number: </label><br><br>
      <input type="tel" name="phone_number" minlength="6" maxlength="15" required placeholder="Phone Number"><br><br>

      <label>Message</label><br><br>
      <textarea name="message" required placeholder="You are amazing"></textarea><br><br>

      <label>Subject</label><br><br>
      <select name="subject" required>
        <option value="Grievances">Grievances</option>
        <option value="Customer Service Request">Customer Service Request</option>
        <option value="Inquiry">Inquiry</option>
        <option value="Investigation">Investigation</option>
        <option value="Other">Other</option>
      </select><br><br>

      <label>If Other: </label><br><br>
      <input type="text" name="other" placeholder="e.g., Rating"><br><br>

      <label>Preferred Contact Method:</label><br><br>
      <input type="checkbox" name="preferred_contact" value="Phone">Phone<br><br>
      <input type="checkbox" name="preferred_contact" value="Email">Email<br><br>
      <input type="checkbox" name="preferred_contact" value="Both">Both<br><br>

      <p>
        <input type="checkbox" name="agreement" required>
        I have read and agree to the <a href="#">terms and conditions</a></p><br><br>

      <button type="submit">Submit</button>

    </form>
</body>
</html>